body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: d83b00;
}

a:hover {
  text-decoration: underline;
}


ul#title-list,ul.link-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li.title-item, li.link-item {
  background: #ffffff;
  font-family: 'Questrial', sans-serif;
  width:99%;
  display: table;
}

li.title-item:nth-child(even), li.link-item:nth-child(odd) {
  background: #a4a8bb;
}


li.title-item:nth-child(even) .title-price, li.title-item:nth-child(even) .title-change {
  color: #ffffff;
}

li.title-item:nth-child(odd) .title-price, li.title-item:nth-child(odd) .title-change {
  color: #a4a8bb;
}


li.link-item {
  text-align: left;
  padding:1%;
}

li.link-item a {
  color: #000000;
}

.title-symbol {
  color: #d83b00;
}

li.link-item a:hover {
  color: #d83b00;
}

.title-info {
  display: table-cell;
  padding: 0.5%;
}

.title-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: large;
  display:block;
}

.title-name a {
  color: #000000;
}

.title-name a:hover {
  color: #000000;
  text-decoration: none;
}

.sentiment {
  width: 15%;
  display: table-cell;
  text-align: center;
  background-position: top left;
  background-repeat: no-repeat;
}

.sentiment#reddit {
  background-image: url("reddit_icon_small.png");
  background-size: contain;
}
.sentiment#twitter {
  background-image: url("twitter_icon_small.png");
  background-size: contain;
}
.sentiment#news {
  background-image: url("news_icon_small.png");
  background-size: contain;
}

.sentiment-indicator {
  border: 1px green dotted;
  background:#d0d0d0;
  width: 100px;
  margin-left:auto;
  margin-right:auto;

}

#source-container {
  display: table;
  text-align: center;
}

.source {
  display: table-cell;
  width: 29%;
  padding:0.5%;
  padding-top: 50px;
  background-position: top center;
  background-repeat: no-repeat;
}

.source#reddit {
  background-image: url("reddit_icon_small.png");
}

.source#news {
  background-image: url("news_icon_small.png");
}

.source#twitter {
  background-image: url("twitter_icon_small.png");
  text-align: center;
}

.tweet {
  background-color: #a4a8bb;
}

.twitter-tweet {
  margin:auto;
  text-align: center;
}
