{% extends "template_base.html" %}
{% block content %}
    <ul id="title-list">
      {% for title in title_list %}
        <li class="title-item">
        <div class="title-info">
          <span class="title-name">{{ title.name }}</span>
          <span class="title-symbol"><a href="/detail/{{ title.symbol }}" >{{ title.symbol }} </a></span>
          <span class="title-price">{{ title.price }}</span>
          <span class="title-change">(){{ title.change }})</span>
        </div>

        <div class="sentiment" id="reddit">
            <div class="sentiment-indicator">
                <div style="margin-left:{{ title.sentiment_reddit_graph_start }}; background:{{ title.sentiment_reddit_graph_color }}; border:0px solid #666666; width:{{ title.sentiment_reddit_graph_width }}">
                    &nbsp;
                </div>
            </div>
        </div>

        <div class="sentiment" id="twitter">
            <div class="sentiment-indicator">
                <div style="margin-left:{{ title.sentiment_twitter_graph_start }}; background:{{ title.sentiment_twitter_graph_color }}; border:0px solid #666666; width:{{ title.sentiment_twitter_graph_width }}">
                    &nbsp;
                </div>
            </div>
        </div>

        <div class="sentiment" id="news">
            <div class="sentiment-indicator">
                <div style="margin-left:{{ title.sentiment_news_graph_start }}; background:{{ title.sentiment_news_graph_color }}; border:0px solid #666666; width:{{ title.sentiment_news_graph_width }}">
                    &nbsp;
                </div>
            </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
