{% extends "template_base.html" %}
{% block content %}



    <ul id="title-list">
      {% for title in title_list %}
        <li class="title-item">
        <div class="title-info">
          <span class="title-name"><a href="/detail/{{ title.symbol }}" >{{ title.name }}</a></span>
          <span class="title-symbol"><a href="/detail/{{ title.symbol }}" >{{ title.symbol }}</a></span>
          <span class="title-price">{{ title.price }}</span>
          <span class="title-change">({{ title.change }}%)</span>
        </div>

        <table>
        <tr>
            
        <td>
        <div id="{{ title.symbol }}_graph-summary-reddit">
        </div>
        </td>
        
        <td>
        <div id="{{ title.symbol }}_graph-summary-twitter">
        </div>
        </td>
        
        <td>
        <div id="{{ title.symbol }}_graph-summary-news">
        </div>
        </td>
        
        </tr>
        </table>
      </li>
    {% endfor %}
  </ul>
  

    
{% endblock %}
