<html>
  <head>
    {% if title %}
    <title>{{ title.name }} - Stockle</title>
    {% else %}
    <title>Stockle</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stockle.css') }}" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
  
  <footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="//cdn.plot.ly/plotly-latest.min.js"></script>


    <script type="text/javascript">

        var graphs = {{graph_JSON | safe}};
        var ids = {{graph_ids | safe}};

        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        }

    </script>
</footer>
</html>
